/*style of frames*/
#main_frame{
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 1); /* Black w/o opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	margin-left: 0%;
	border: 2px solid #FFFFFF;
	clear:both;
}
#bookshelf_function_menu{
	height:98%;
	width: 3%;
	border: 2px solid #0000FF;
	margin-top: 2%;
	clear:both;
	display:inline-block;
    position: fixed;
}
#bookshelf{
	height:98%;
	width: 96%;
	border: 2px solid #FF0000;
	margin-top: 2%;
    margin-left: 3.5%;
	clear:both;
	display:inline-block;
    position: fixed;
}
#bookshelf_overlay{
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable horizontal scroll */
	margin-left: 0%;
	border: 2px solid #FFFFFF;
	clear:both;
}
/* style of menu*/
div.bookshelf_function_button{
	height:5%;
    width: 100%;
	margin-top: 2%;
	display:inline-block;
    background-color: rgba(255, 255,255, 1); /* Black w/o opacity */
}
div.bookshelf_pop_frame{
    height: 100%;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    background-color: rgba(255,255,255, 0.75); /* Black w/o opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	border: 2px solid #FFFFFF;
	clear:both;
}