<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<!--Title-->
<title>REWRITE</title>

<!-- hiden input file loader -->
<input type="file" id="fileLoader" name="files" title="Load File" />

<!-- script files -->
	<!-- settings -->
<script src="{{url_for('Static',filename='bookshelf_variables.js')}}"></script>
<script src="{{url_for('Static',filename='data_structures.js')}}"></script>
	<!-- functions -->
<script src="{{url_for('Static',filename='bookshelf_functions.js')}}"></script>	

</head>


<body onload = "">

<div id="main_frame">
	<div id="bookshelf_function_menu"></div>
	<div id="bookshelf">
		<!-- insert book shelfs-->
	
	</div>
</div>

</body>

</html>
