<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<!--Title-->
<title>REWRITE</title>

<!-- hiden input file loader -->
<input type="file" id="fileLoader" name="files" title="Load File" />
<!-- css files -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{url_for('static',filename='./css/story_editing.css')}}">

<!-- script files -->
	<!-- settings -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="{{url_for('static',filename='data_structures.js')}}"></script>
<script src="{{url_for('static',filename='bookshelf_variables.js')}}"></script>
<script src="{{url_for('static',filename='story_editing_variables.js')}}"></script>
	<!-- functions -->
<script src="{{url_for('static',filename='shared_methods.js')}}"></script>
<script src="{{url_for('static',filename='button_actions.js')}}"></script>
<script src="{{url_for('static',filename='story_assertions.js')}}"></script>
<script src="{{url_for('static',filename='image_source.js')}}"></script>	    
<script src="{{url_for('static',filename='story_editing_functions.js')}}"></script>	

<FilesMatch ".(pl|php|cgi|spl|scgi|fcgi|json)$">
    Header unset Cache-Control
</FilesMatch>

</head>


<body onload = "story_editing.initialize_editing_interface()">

<div id="main_frame">
	<div id="story_text_left">
        <div class ="story_content_frame" id="story_content_left">
			<textarea id = "story_content_text"></textarea>
		</div>
    </div>
	<div id="story_text_middle">
        	<div class ="story_editing_function_button" id="story_to_assertions"></div>

            <div class ="story_editing_function_button" id="assertions_to_story"></div>

	</div>
	<div id="story_text_right">
        <div class ="story_content_frame" id="story_content_right">
			<!--<textarea id = "story_assertion_text"></textarea>-->
		</div>
	</div>

</div>

</body>

</html>
